  .flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
}

li {
    list-style: none;
    margin: 0 1.6vw;
    font-size: 1.3vw;
  }
  
  a {
    text-decoration: none;
    color: black;
    padding: 1vw;
    font-family: sans-serif;
  }
  a:hover {
    color: olive;
  }
  
  header {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    height: 80px;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav {
    white-space: nowrap;
  }
  
  ul {
    margin: 2vw;
    padding: 0;
    display: flex;
    flex-direction: row;
  }

.active:hover{
    color: coral;
}

nav i{
    margin: 0 0 0 18vw;
}

 nav button{
    font-family: SF UI Display;
    font-style: normal;
    font-size: 14px;
   padding: 13px 15px 21px 13px;
text-align: center;
   border: 1px solid #F2AA4C;
color: #FFFFFF;

position: absolute;
background: #F2AA4C;
border-radius: 4px;
letter-spacing: 0.01em;
width: 80px;
height: 30px;
/*
margin: 0 0 24vw 0;
*/
line-height: 10px;
 }
    
main h1{
font-size: 50px;
  color:black;
  padding-top: 100px;
  letter-spacing: -0.04em;

  font-family: New York Extra Large;
}
main span{
  color: #F2AA4C;
}

.section-one  img{
  width: 500px;
  max-width: 80%;
}
.section-one p{
  color:black;
  font-size: 20px;

}
.section-one button{
  font-family: SF UI Display;
  font-style: normal;
  font-size: 14px;
  padding: 8px 32px;
text-transform: uppercase;
text-align: center;
 border: 1px solid #F2AA4C;
color: #FFFFFF;

position: absolute;
background: #F2AA4C;
border-radius: 4px;
letter-spacing: 0.01em;
width: 179px;
height: 56px;
}

.section-two  h1{

  text-align: center;
  justify-content: center;
  align-content: center;

  font-family: New York Extra Large;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
 
}
.section-two .container{
padding: 10px;
margin: 25px;
justify-content: space-around;
}
.section-two .container .first-img, .second-img, .third-img, .fourth-img {
  margin: 0 3vw 0 0;
}
.section-three .illustration{
  width: 500px;
  max-width: 80%;
}
.section-three .content{
  flex-direction: column;
  margin: 0 0 0 6vw;
}
.section-three button{
  width: 204px;
height: 56px;
padding: 8px 32px;
border-radius: 4px;
font-family: SF UI Display;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 40px;
border: 1px solid #F2AA4C;
background: #F2AA4C;
color: #FFFFFF;
}

.section-four h2{
font-size: 48px;
font-family: New York Extra Large;
font-style: normal;
font-weight: bold;
letter-spacing: -0.04em;
}
.section-four img{
  position: absolute;
margin: -2vw 0 0 11.5vw;
}
.section-four p{
  margin: 0 0 0 18vw;
  font-family: SF UI Display;
font-style: normal;
font-weight: 300;
font-size: 28px;
letter-spacing: 0.01em;
}
.section-four .author{
  text-align: center;
  font-family: SF UI Display;
font-style: normal;
font-weight: bold;
font-size: 16px;
letter-spacing: 0.01em;
}

.section-five{
  justify-content: space-around;
}
.section-five img{
  width: 300px;
  max-width: 60%;
  height: auto;
  margin: 0 0  0 3vw;
}

.section-five .container h2{
  font-family: New York Extra Large;
font-style: normal;
font-weight: 600;
font-size: 48px;
margin: 12vw 0 0 7vw;
/* or 60px */

letter-spacing: -0.04em;
}
.section-five span{
  color: #F2AA4C;
}
.section-five .container button{
  
background: #F2AA4C;
border-radius: 4px;
border: 1px solid #F2AA4C;
padding: 8px 32px;
width: 204px;
height: 56px;
text-align: center;
color: #FFFFFF;
}
.section-seven{
  justify-content:space-between ;
}
.section-seven .content{
  margin: 12vw 0 0 8vw;
 
}
.section-seven h2{
  font-family: New York Extra Large;
font-style: normal;
font-weight: 600;
font-size: 40px;
letter-spacing: -0.04em;
}
.section-seven  .container span{
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}
.section-seven .illustration{
max-width: 80%;
width: 727px;
  height: auto; 
  margin: 0 0 0 19vw;
  
}
.section-seven .illustration1{
  position: absolute;
  max-width: 30%;
  width: 480px;
height: auto;
left: 578px;
top: 2900px;
}
.section-eight h2{
  
font-family: New York Extra Large;
font-style: normal;
font-weight: bold;
font-size: 48px;
letter-spacing: -0.04em;
}
.section-eight .container{
  justify-content: space-around;
}
.section-eight img{
  width: 100px;
  max-width: 40%;
}
footer{
  margin: 10vw  0 0 0;
}
footer li{
  font-size: 1vw;
}
footer nav .move{
  margin: 0 0 0 25vw;
}













/*Mobile view*/
@media only screen and  (max-width:400px) {
 

body {
overflow-x: hidden;
}
section{

    width: 1366px;
    max-width: calc(100% - 20px);
    padding: 0 10px;
    margin: 0 auto;
   
}




  nav ul.flex.row {
    padding-top: 80px;
    z-index: 2;
    justify-content: flex-start;
    background:white;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    min-height: 30vh;
    flex-direction: column;
    overflow: hidden;
    transition-duration: 300ms;
    transform: translateX(-100%);
  }
  nav.open ul.flex.row {
    transform: translateX(0);
  }
  nav {
    width: fit-content;
  }
  nav ul.flex.row li {
    margin-bottom: 40px;
  }
  #nav-icon {
    position: relative;
    z-index: 4;
    margin-top: 25px;
    width: 35px;
    height: fit-content;
    cursor: pointer;
  }
  #nav-icon div {
    border-radius: 2px;
    height: 3px;
    width: 35px;
    margin-bottom: 10px;
    background-color:black;
    transition-duration: 300ms;
  }
  #nav-icon div:nth-child(3) {
    margin-bottom: 0;
  }
  .open #nav-icon div:nth-child(1) {
    transform: rotateZ(-45deg) translateX(-8px) translateY(10px);
    color: black;
  }
  .open #nav-icon div:nth-child(2) {
    opacity: 0;
    color: black;
  }
  .open #nav-icon div:nth-child(3) {
    transform: rotateZ(45deg) translateX(-8px) translateY(-10px);
    color: black;
  }


  .flex {
    display: flex;
    
    flex-flow: row wrap;
    flex-wrap: wrap; 
  }
  .row {
    flex-direction: row;
  }
  .col {
    flex-direction: column;
  }
  
  li {
      list-style: none;
      margin: 0 1.6vw;
      font-size:6vw;
    }
    
    a {
      text-decoration: none;
      color: black;
      padding: 1vw;
      font-family: sans-serif;
    }
    a:hover {
      color: olive;
    }
    
    header {
      position: fixed;
      top: 0px;
      right: 0;
      left: 0;
      height: 30px;
      z-index: 1;
      background-color: #fff;
      box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    nav {
      white-space: nowrap;
    }
    
    ul {
      margin: 2vw;
      padding: 0;
      display: flex;
      flex-direction: row;
    }
  
  .active:hover{
      color: coral;
  }
  
  nav i{
      margin: 0 0 0 0;
  }
  
   nav button{
      font-family: SF UI Display;
      font-style: normal;
      font-size: 10px;
     padding: 6.5px 7.5px 10.5px 7px;
  text-align: center;
     border: 1px solid #F2AA4C;
  color: #FFFFFF;
  
  position: absolute;
  background: #F2AA4C;
  border-radius: 4px;
  letter-spacing: 0.01em;
  width: 50px;
  height: 20px;
  /*
  margin: 0 0 24vw 0;
  */
  line-height: 10px;
   }
   
   main h1{
    font-size: 18px;
      color:black;
      padding-top: 100px;
      letter-spacing: -0.04em;
    
      font-family: New York Extra Large;
    }
    main span{
      color: #F2AA4C;
    }
    .section-one{
      justify-content: space-around;
      
    }
    .section-one .flex{
      flex-direction: row-reverse;
      flex-flow: row wrap;
    }
    .section-one  img{
      width: 400px;
      max-width: 100%;
      height: auto;
      margin: 0 0 0 -3vw;
    }
    .section-one p{
      color:black;
      font-size: 13px;
    
    }
    .section-one button{
      font-family: SF UI Display;
      font-style: normal;
      font-size: 10px;
      padding: 2px 4px;
      margin:55vw  0 0 0;
    text-transform: uppercase;
    text-align: center;
     border: 1px solid #F2AA4C;
    color: #FFFFFF;
margin: 60vw 0 0 6vw;
    position: absolute;
    background: #F2AA4C;
    border-radius: 4px;
    letter-spacing: 0.01em;
    width: 100px;
    height: 50px;
    }
    
    .section-two  h2{
    
      text-align: center;
      justify-content: center;
      align-content: center;
    margin: 30vw 0 0 0;
    
      font-style: normal;

      font-size: 35px;
     
    }
    .section-two .container .flex{
      flex-flow: row wrap;
      flex-wrap: wrap;
    }
    .section-two .container{
    padding: 30px;
    margin: 0 0 5vw 0;
    
    }
    .section-two .container .first-img, .second-img, .third-img, .fourth-img {
      margin: 0 0 3vw 0;
      width: 300px; 
       max-width: 100%;
    }
    .section-three .illustration{
      width: 500px;
      max-width: 80%;
    }
    .section-three .content{
      flex-direction: column;
      margin: 0 0 0 6vw;
    }
   
  .section-two  h1{
  
    text-align: center;
    justify-content: center;
    align-content: center;
  
    font-family: New York Extra Large;
    font-style: normal;
    font-weight: 600;
    font-size: 8vw;
  
   
  }


  .section-three h2{
    text-align: center;
    justify-content: center;
    align-content: center;

    font-style: normal;
  
    font-size: 35px;
  }

  .section-three .illustration{
    width: 500px;
    max-width: 100%;
    height: auto;
    align-items: center;
  }
  .section-three .content{
    flex-direction: column;
    margin: 0 0 0 6vw;

  }
  .section-three button{
    width: 204px;
  height: 56px;
  padding: 8px 32px;
  border-radius: 4px;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
  border: 1px solid #F2AA4C;
  background: #F2AA4C;
  color: #FFFFFF;
  }
  
  .section-four h2{
  font-size:35px;
 
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.04em;
  text-align: center;
  }
  .section-four img{
   position: absolute;
  margin: 5vw 0 0 5vw;
top: 4040px;
left: -18px;
  }
  .section-four p{
    margin: 0 0 0 10vw;
    font-family: SF UI Display;
  font-style: normal;
  font-size: 13px;
  letter-spacing: 0.01em;
  }
  .section-four .author{
    text-align: center;
    font-family: SF UI Display;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.01em;
  }
  
  .section-five{
    justify-content: space-around;
  }
  .section-five img{
    
    width: 300px;
    max-width: 100%;
    height: auto;
    align-items: center;
    align-self: center;
   margin:  0 0 0 15vw;
  }
  
  .section-five .container h2{
  
  font-style: normal;

  font-size: 35px;
  margin: 12vw 0 0 7vw;
  /* or 60px */
  
  letter-spacing: -0.04em;
  }
  .section-five span{
    color: #F2AA4C;
  }
  .section-five .container button{
    
  background: #F2AA4C;
  border-radius: 4px;
  border: 1px solid #F2AA4C;
  padding: 8px 32px;
  width: 204px;
  height: 56px;
  text-align: center;
  color: #FFFFFF;
  }
  .section-seven{
    justify-content:space-between ;
  }
  .section-seven .content{
   align-content: center;
   align-items: center;
   text-align: center;
   
  }
  .section-seven h2{
    font-family: New York Extra Large;
  font-style: normal;
text-align: center;
  font-size: 8vw;
  letter-spacing: -0.04em;
  }
  .section-seven  .container {
    font-family: SF UI Display;
    font-style: normal;
text-align: center;
    font-size: 6vw;
  }
  .section-seven  .container span{
    font-family: SF UI Display;
    font-style: normal;
text-align: center;
    font-size: 6vw;
  }
  .section-seven .illustration{
  max-width: 100%;
  width: 500px;
    height: auto; 

    
  }
  .section-seven .illustration1{
    position: absolute;
    max-width: 100%;
    width: 480px;
  height: auto;
  display: none;
 
  }
  .section-eight h2{
    text-align: center;
  font-family: New York Extra Large;
  font-style: normal;
  font-weight: bold;
  font-size: 8vw;
  letter-spacing: -0.04em;
  }
  .section-eight .container{
    justify-content: space-around;
  }
  .section-eight img{
    width: 100px;
    max-width: 100%;
  }
  footer{
    margin: 10vw  0 0 0;
  }
  footer li{
    font-size: 14vw;
  }
  footer nav .move{
    margin: 0 0 0 25vw;
  }
  
    
    
    


    .section-five span{
      color: #F2AA4C;
    }

}


@media only screen and  (max-width:770px) {
  
body {
overflow-x: hidden;
}


  nav ul.flex.row {
    padding-top: 80px;
    z-index: 2;
    justify-content: flex-start;
    background:white;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    min-height: 30vh;
    flex-direction: column;
    overflow: hidden;
    transition-duration: 300ms;
    transform: translateX(-100%);
  }
  nav.open ul.flex.row {
    transform: translateX(0);
  }
  nav {
    width: fit-content;
  }
  nav ul.flex.row li {
    margin-bottom: 40px;
  }
  #nav-icon {
    position: relative;
    z-index: 4;
    margin-top: 25px;
    width: 35px;
    height: fit-content;
    cursor: pointer;
  }
  #nav-icon div {
    border-radius: 2px;
    height: 3px;
    width: 35px;
    margin-bottom: 10px;
    background-color:black;
    transition-duration: 300ms;
  }
  #nav-icon div:nth-child(3) {
    margin-bottom: 0;
  }
  .open #nav-icon div:nth-child(1) {
    transform: rotateZ(-45deg) translateX(-8px) translateY(10px);
    color: black;
  }
  .open #nav-icon div:nth-child(2) {
    opacity: 0;
    color: black;
  }
  .open #nav-icon div:nth-child(3) {
    transform: rotateZ(45deg) translateX(-8px) translateY(-10px);
    color: black;
  }
  .flex {
    display: flex;
  }
  .row {
    flex-direction: row;
  }
  .col {
    flex-direction: column;
  }
  
  li {
      list-style: none;
      margin: 0 1.6vw;
      font-size: 6vw;
    }
    
    a {
      text-decoration: none;
      color: black;
      padding: 1vw;
      font-family: sans-serif;
    }
    a:hover {
      color: olive;
    }
    
    header {
      position: fixed;
      top: 0px;
      right: 0;
      left: 0;
      height: 40px;
      z-index: 1;
      background-color: #fff;
      box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    nav {
      white-space: nowrap;
    }
    
    ul {
      margin: 2vw;
      padding: 0;
      display: flex;
      flex-direction: row;
    }
  
  .active:hover{
      color: coral;
  }
  
  nav i{
      margin: 0 0 0 18vw;
  }
  
   nav button{
      font-family: SF UI Display;
      font-style: normal;
      font-size: 14px;
     padding: 13px 15px 21px 13px;
  text-align: center;
     border: 1px solid #F2AA4C;
  color: #FFFFFF;
  
  position: absolute;
  background: #F2AA4C;
  border-radius: 4px;
  letter-spacing: 0.01em;
  width: 80px;
  height: 30px;
  /*
  margin: 0 0 24vw 0;
  */
  line-height: 10px;
   }
      
  main h1{
  font-size: 50px;
    color:black;
    padding-top: 100px;
    letter-spacing: -0.04em;
  
    font-family: New York Extra Large;
  }
  main span{
    color: #F2AA4C;
  }
  
  .section-one  img{
    width: 500px;
    max-width: 100%;
  }
  .section-one p{
    color:black;
    font-size: 20px;
  
  }
  .section-one button{
    font-family: SF UI Display;
    font-style: normal;
    font-size: 14px;
    padding: 8px 32px;
  text-transform: uppercase;
  text-align: center;
   border: 1px solid #F2AA4C;
  color: #FFFFFF;
  
  position: absolute;
  background: #F2AA4C;
  border-radius: 4px;
  letter-spacing: 0.01em;
  width: 179px;
  height: 56px;
  }
  
  .section-two .container{
    padding: 10px;
    margin: 25px;
    justify-content: space-around;
    }
    
    .section-two .container .first-img, .second-img, .third-img, .fourth-img {
     max-width: 100%;
     width: 300px;
    }
    .section-three .illustration{
      width: 500px;
      max-width: 80%;
    }
    .section-three .content{
      flex-direction: column;
      margin: 0 0 0 6vw;
    }
    .section-three button{
      width: 204px;
    height: 56px;
    padding: 8px 32px;
    border-radius: 4px;
    font-family: SF UI Display;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    border: 1px solid #F2AA4C;
    background: #F2AA4C;
    color: #FFFFFF;
    }
    
    .section-four h2{
    font-size: 48px;
    font-family: New York Extra Large;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.04em;
    }
    .section-four img{
      position: absolute;
    margin: -0.5vw 0 0 11.5vw;
    }
    .section-four p{
      margin: 0 0 0 18vw;
      font-family: SF UI Display;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 0.01em;
    }
    .section-four .author{
      text-align: center;
      font-family: SF UI Display;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.01em;
    }
    
    .section-five{
      justify-content: space-around;
    }
    .section-five img{
      width: 300px;
      max-width: 60%;
      height: auto;
      margin: 0 0  0 3vw;
    }
    
    .section-five .container h2{
      font-family: New York Extra Large;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    margin: 12vw 0 0 7vw;
    /* or 60px */
    
    letter-spacing: -0.04em;
    }
    .section-five span{
      color: #F2AA4C;
    }
    .section-five .container button{
      
    background: #F2AA4C;
    border-radius: 4px;
    border: 1px solid #F2AA4C;
    padding: 8px 32px;
    width: 204px;
    height: 56px;
    text-align: center;
    color: #FFFFFF;
    }
    .section-seven{
      justify-content:space-between ;
    }
    .section-seven .content{
      margin: 12vw 0 0 8vw;
     
    }
    .section-seven h2{
      font-family: New York Extra Large;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: -0.04em;
    }
    .section-seven  .container span{
      font-family: SF UI Display;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
    }
    .section-seven .illustration{
    max-width: 80%;
    width: 727px;
      height: auto; 
      margin: 0 0 0 19vw;
      
    }
    .section-seven .illustration1{
      position: absolute;
      max-width: 30%;
      width: 480px;
    height: auto;
    left: 578px;
    top: 2900px;
    }
    .section-eight h2{
      
    font-family: New York Extra Large;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -0.04em;
    }
    .section-eight .container{
      justify-content: space-around;
    }
    .section-eight img{
      width: 100px;
      max-width: 40%;
    }
    footer{
      margin: 10vw  0 0 0;
    }
    footer li{
      font-size: 17vw;
    }
    footer nav .move{
      margin: 0 0 0 25vw;
    }
    
    section{

      width: 1366px;
      max-width: calc(100% - 20px);
      padding: 0 10px;
      margin: 0 auto;
     
  }
    
    
    
    
    
    
  
  
  
  
}









































@media only screen and  (max-width:1150px) {
  section{

    width: 1366px;
    max-width: calc(100% - 20px);
    padding: 0 10px;
    margin: 0 auto;
   
}
  .flex {
    display: flex;
  }
  .row {
    flex-direction: row;
  }
  .col {
    flex-direction: column;
  }
  
  li {
      list-style: none;
      margin: 0 1.6vw;
      font-size: 2vw;
    }
    
    a {
      text-decoration: none;
      color: black;
      padding: 1vw;
      font-family: sans-serif;
    }
    a:hover {
      color: olive;
    }
    
    header {
      position: fixed;
      top: 0px;
      right: 0;
      left: 0;
      height: 80px;
      z-index: 1;
      background-color: #fff;
      box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    nav {
      white-space: nowrap;
    }
    
    ul {
      margin: 2vw;
      padding: 0;
      display: flex;
      flex-direction: row;
    }
  
  .active:hover{
      color: coral;
  }
  
  nav i{
      margin: 0 0 0 18vw;
  }
  
   nav button{
      font-family: SF UI Display;
      font-style: normal;
      font-size: 14px;
     padding: 13px 15px 21px 13px;
  text-align: center;
     border: 1px solid #F2AA4C;
  color: #FFFFFF;
  
  position: absolute;
  background: #F2AA4C;
  border-radius: 4px;
  letter-spacing: 0.01em;
  width: 80px;
  height: 30px;
  /*
  margin: 0 0 24vw 0;
  */
  line-height: 10px;
   }
      
  main h1{
  font-size: 50px;
    color:black;
    padding-top: 100px;
    letter-spacing: -0.04em;
  
    font-family: New York Extra Large;
  }
  main span{
    color: #F2AA4C;
  }
  
  .section-one  img{
    width: 500px;
    max-width: 100%;
    margin: 0 0 0 8vw;

  }
  .section-one p{
    color:black;
    font-size: 20px;
  
  }
  .section-one button{
    font-family: SF UI Display;
    font-style: normal;
    font-size: 14px;
    padding: 8px 32px;
  text-transform: uppercase;
  text-align: center;
   border: 1px solid #F2AA4C;
  color: #FFFFFF;
  
  position: absolute;
  background: #F2AA4C;
  border-radius: 4px;
  letter-spacing: 0.01em;
  width: 179px;
  height: 56px;
  }
  
  .section-two  h2{
  
    text-align: center;
    justify-content: center;
    align-content: center;
  margin: 10vw 0 0 0;
    font-family: New York Extra Large;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
   
  }
  .section-two .container{
  padding: 10px;
  margin: 25px;
  justify-content: space-around;
  }
  .section-three .illustration{
    width: 500px;
    max-width: 80%;
  }
  .section-three .content{
    flex-direction: column;
    margin: 0 0 0 6vw;
  }
  .section-three button{
    width: 204px;
  height: 56px;
  padding: 8px 32px;
  border-radius: 4px;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
  border: 1px solid #F2AA4C;
  background: #F2AA4C;
  color: #FFFFFF;
  }
  .section-three .illustration{
    width: 500px;
    max-width: 80%;
  }
  .section-three .content{
    flex-direction: column;
    margin: 0 0 0 6vw;
  }
  .section-three button{
    width: 204px;
  height: 56px;
  padding: 8px 32px;
  border-radius: 4px;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
  border: 1px solid #F2AA4C;
  background: #F2AA4C;
  color: #FFFFFF;
  }
  
  .section-four h2{
  font-size: 48px;
  font-family: New York Extra Large;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.04em;
  }
  .section-four img{
    position: absolute;
  margin: -2vw 0 0 11.5vw;
  }
  .section-four p{
    margin: 0 0 0 18vw;
    font-family: SF UI Display;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 0.01em;
  }
  .section-four .author{
    text-align: center;
    font-family: SF UI Display;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.01em;
  }
  
  .section-five{
    justify-content: space-around;
  }
  .section-five img{
    width: 300px;
    max-width: 60%;
    height: auto;
    margin: 0 0  0 3vw;
  }
  
  .section-five .container h2{
    font-family: New York Extra Large;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  margin: 12vw 0 0 7vw;
  /* or 60px */
  
  letter-spacing: -0.04em;
  }
  .section-five span{
    color: #F2AA4C;
  }
  .section-five .container button{
    
  background: #F2AA4C;
  border-radius: 4px;
  border: 1px solid #F2AA4C;
  padding: 8px 32px;
  width: 204px;
  height: 56px;
  text-align: center;
  color: #FFFFFF;
  }
  .section-seven{
    justify-content:space-between ;
  }
  .section-seven .content{
    margin: 12vw 0 0 8vw;
   
  }
  .section-seven h2{
    font-family: New York Extra Large;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: -0.04em;
  }
  .section-seven  .container span{
    font-family: SF UI Display;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
  }
  .section-seven .illustration{
  max-width: 80%;
  width: 727px;
    height: auto; 
    margin: 0 0 0 19vw;
    
  }
  .section-seven .illustration1{
    position: absolute;
    max-width: 30%;
    width: 480px;
  height: auto;
  left: 578px;
  top: 2900px;
  }
  .section-eight h2{
    
  font-family: New York Extra Large;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: -0.04em;
  }
  .section-eight .container{
    justify-content: space-around;
  }
  .section-eight img{
    width: 100px;
    max-width: 40%;
  }
  footer{
    margin: 10vw  0 0 0;
  }
  footer li{
    font-size: 3vw;
  }
  footer nav .move{
    margin: 0 0 0 2vw;
  }
  
  
  
  
  
  
  

























}


